page {
    margin: 0 auto;
}
body {
    background-image: url('BackgroundMain.png');
    text-align:center;
    position:relative;
    top:50%;
    transform: translateY(+25%);
    font-family:'Courier New';
}

h3 {
    font-size:26px;
    height: 60px;
    width: 450px;
    display:block;
    background-color:rgba(200,200,200,0.5);
    margin-left:auto;
    margin-right:auto;
}

p {
    font-size:20px;
    height:400px;
    width: 500px;
    display:block;
    background-color:rgba(200,200,200,0.5);
    margin-left:auto;
    margin-right:auto;
}

button {
    border-color:#422800;
    background-color:#FFB74D;
    font-size:36px;
    font-weight:bold;
}

button:hover {
    background-color:#B58237;
}

.bold {
    font-size:28px;
    font-family:'Stencil Std';
}

#about{
    height:500px;
    width: 800px;
}

#me1{
  border:2px solid black;
  position:fixed;
  left:200px;
  top:-40px;
}

#me2{
  border:2px solid black;
  position:fixed;
  left:1400px;
  top:200px;
}

#me3{
  border:2px solid black;
  position:fixed;
  left:140px;
  top:400px;
}
