body {
    background-image: url('BackgroundMain.png');
    text-align:center;
    position:relative;
    top:50%;
    transform: translateY(+25%);
    font-family:'Courier New';
}

h3 {
    font-size:24px;
    height: 30px;
    width: 350px;
    display:block;
    background-color:rgba(200,200,200,0.6);
    margin-left:auto;
    margin-right:auto;
}

p {
    font-size:24px;
    height:500px;
    width: 800px;
    display:block;
    background-color:rgba(200,200,200,0.6);
    margin-left:auto;
    margin-right:auto;
}

button {
    border-color:#422800;
    background-color:#FFB74D;
    font-size:14px;
    font-weight:bold;
}

button:hover {
    background-color:#B58237;
}

#roomTitle {
    font-size:28px;
    font-family:'Stencil Std';
}

#roomText {
    font-size:24px;
    font-family:'OCR A Std';
}

#menu button{
    font-size:36px;
}

#guide{
  position:absolute;
  left: 300px;
  top: 0px;
}

#Customization{
  font-size:20px;
  font-family:'OCR A Std';
  height: 600px;
  width: 900px
}
